[data-theme=dark] #web_bg {
    background-size: 120rem;
    background-image: url(https://vip.123pan.cn/1814146125/yk6baz03t0n000d7w33gzqog5klg4v7iDIYPAdexAqevAGx1Aqav.png) !important;
}

:root {
    --trans-light: rgba(255, 255, 255, 0.8);
    --trans-dark: rgba(25, 25, 25, 0.5);
    --border-style: 1px solid rgb(169, 169, 169);
  }
  
  #recent-posts > .recent-post-item {
    background: var(--trans-dark);
    backdrop-filter: var(--backdrop-dark);
    border-radius: 25px;
    border: var(--border-style);
  }
  
  #aside-content .card-widget {
    background: var(--trans-dark);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
  }

  #home_top .swiper_container_card #bannerGroup #random-banner{
    background: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: var(--backdrop-dark);
    border-radius: 25px;
    border: var(--border-style);
  }

  .recent-posts #categoryBar .category-bar {
    background: var(--trans-dark);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
  }

  div#post,
  div#page,
  div#archive {
    background: var(--trans-dark);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
  }
  
  #page-header.nav-fixed #nav {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: var(--backdrop-filter);
  }
  
  [data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  [data-theme="dark"] #page-header.not-top-img #nav {
    background: rgba(0, 0, 0, 0.5) !important;
  }
  
  [data-theme="dark"] #recent-posts > .recent-post-item,
  [data-theme="dark"] #aside-content > .card-widget,
  [data-theme="dark"] div#post,
  [data-theme="dark"] div#archive,
  [data-theme="dark"] div#page {
    background: var(--trans-dark);
  }
  
  
  [data-theme="dark"] #footer::before {
    background: var(--trans-dark);
  }
  [data-theme="dark"] #page-header::before {
    background: var(--trans-dark);
  }
  [data-theme="dark"] #page-header .not-top-img ::before{
    background: var(--trans-dark);
  }
  
  
  .read-mode #aside-content .card-widget {
    background: rgba(158, 204, 171, 0.8) !important;
  }
  .read-mode div#post {
    background: rgba(158, 204, 171, 0.8) !important;
  }
  
  [data-theme="dark"] .read-mode #aside-content .card-widget {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
  }
  [data-theme="dark"] .read-mode div#post {
    background: rgba(25, 25, 25, 0.9) !important;
    color: #ffffff;
  }
  